In [1]:
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

# Arabidopsis dataset example

This notebook follows the example in section 4.2 from  [`edgeR` user guide.](https://bioconductor.org/packages/release/bioc/html/edgeR.html). 
The data comes from Cumbie et al., 2011, and has been packaged by the `edgeR` team.
We have minimally pre-processed the dataset in line with how `edgeR` manual does this so the results are equivalent.

See [Data directory](../data/from-edger-user-guide/arabidopsis) for more information.

In the end we are trying to reproduce the following results from the `edgeR` guide:

```
> y <- calcNormFactors(y)
> y$samples
group lib.size norm.factors
mock1 mock 1882391 0.977
mock2 mock 1870625 1.023
mock3 mock 3227243 0.914
hrcc1 hrcc 2101449 1.058
hrcc2 hrcc 1243266 1.083
hrcc3 hrcc 3494821 0.955
```

## References

* Cumbie, J., Kimbrel, J., Di, Y., Schafer, D., Wilhelm, L., Fox, S., Sullivan, C., Curzon, A., Carrington, J., Mockler, T., Chang, J. (2011). GENE-Counter: A Computational Pipeline for the Analysis of RNA-Seq Data for Gene Expression Differences PLoS ONE 6(10), e25279. https://dx.doi.org/10.1371/journal.pone.0025279

First, let's load the data:

In [4]:
import pandas as pd

arabidopsis = pd.read_csv('../data/from-edger-user-guide/arabidopsis/arab.csv', index_col=0)

In [6]:
arabidopsis.head()

           mock1  mock2  mock3  hrcc1  hrcc2  hrcc3
AT1G01010     35     77     40     46     64     60
AT1G01020     43     45     32     43     39     49
AT1G01030     16     24     26     27     35     20
AT1G01040     72     43     64     66     25     90
AT1G01050     49     78     90     67     45     60

Now we can load `tmma` package, where we have implemented a TMM normalisation procedure, benchmarking it to `edgeR`.
It gives consistent results with `edgeR` results up to two decimal points.
The variance comes from the issues in floating point calculations and their effects to ranking.

In [8]:
import tmma

To perform TMM normalisationone can simply use the function `tmm_normalisation`:

In [9]:
tmma.tmm_normalisation_factors(arabidopsis)

/Users/saulius.lukauskas/dev/short-investigations/tmm-py/src/tmma/ma/stats.py:30: RuntimeWarning: divide by zero encountered in log2
  log2_normed_obs = np.log2(obs) - np.log2(lib_size_obs)
/Users/saulius.lukauskas/dev/short-investigations/tmm-py/src/tmma/ma/stats.py:31: RuntimeWarning: divide by zero encountered in log2
  log2_normed_ref = np.log2(ref) - np.log2(lib_size_ref)
/Users/saulius.lukauskas/dev/short-investigations/tmm-py/src/tmma/ma/stats.py:34: RuntimeWarning: invalid value encountered in subtract
  m = log2_normed_obs - log2_normed_ref

array([0.97716838, 1.02284484, 0.91421356, 1.05844921, 1.08284259,
       0.95485587])

Note that warnings above come from us trying to follow the R implementation (which silences them by default).